@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Reddit Mono", sans-serif;
  --var-yellow: #ffc470;
  --var-gray: #333333;
  --var-purple: #2a2752;
  --var-dark-purple: #424769;
  --var-light-purple: #7469b6;
  --bg-color-light: linear-gradient(#7469b6, #555555);
  --bg-color-dark: linear-gradient(#2c2b70, #363654);
  --text-color: white;
  --text-color-dark: black;
  --selected-bg: #8677df;
  --input-bg-dark: #121212;
  --input-bg-light: #ffffff;
}

body {
  height: 100vh;
  width: 100vw;
}

.Home {
  min-width: 850px; /* 最小宽度 */
  width: 900px;
  height: 650px;
  margin: 0 10px;
}

@media (prefers-color-scheme: light) {
  .Home {
    background-image: var(--bg-color-light);
    color: var(--text-color-dark);
  }
  
  .ChatTools {
    background-color: var(--input-bg-light);
  }
  
  .selected-to-chat {
    background-color: var(--selected-bg);
  }
}

@media (prefers-color-scheme: dark) {
  .Home {
    background-image: var(--bg-color-dark);
  }
  
  .ChatTools {
    background-color: var(--input-bg-dark);
  }
  
  .selected-to-chat {
    background-color: var(--var-purple);
  }
}

.ImageCropper {
  background-color: #424769;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 滚动条轨道的背景色 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* 滚动条拖动手柄的颜色和透明度 */
  border-radius: 3px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.shake {
  animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.reactEasyCrop_CropArea {
  /*border-radius: 50%;*/
  border: 2px dashed ghostwhite !important;
}

.chat-bubble {
  max-width: 100% !important;
  min-height: auto;
}
