@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Reddit Mono', sans-serif;
  --var-yellow: #ffc470;
}

body {
  height: 100vh;
  width: 100vw;
}

.Home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('@/assets/background.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.ImageCropper {
  background-color: #424769;
}

.selected-to-chat {
  background-color: var(--var-yellow);
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #777;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.shake {
  animation: shake 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.reactEasyCrop_CropArea {
  /*border-radius: 50%;*/
  border: 2px dashed ghostwhite !important;
}